:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #111827;
  background-color: #f9fafb;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f9fafb;
    background-color: #1f2937;
  }
}